<meta name="author" content="Gwennaëlle Mabon">
<meta name="google-site-verification" content="e06d9d88c604cc1f">
<meta property="og:site_name" content="Gwennaëlle Mabon">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Gwennaëlle Mabon",
  "url": "https://gwenmabon.github.io/",
  "author": {
    "@type": "Person",
    "name": "Gwennaëlle Mabon",
    "url": "https://gwenmabon.github.io/"
  }
}
</script>
